{% load static %}
{% load custom_filters %}

<!doctype html>
<html lang=de>

{% include 'head.html' %}

<body>

    {% include 'header.html' %}

    <main class="main">
        <div style="height: 92px;"></div>
        <article class="kommune__wrapper">
            <h1>Klimavorhabentracker für {{ kommune.name }}</h1>

            <p>intro text</p>

            <div class="fields">
                {% for field in fields %}
                <a class="text-decoration-none" href={% url 'field_actions' municipality_slug=kommune.slug field_id=field.id %}>
                    <div class="field">
                        <div class="field-top">
                            <h4>{{field.name}}</h4>
                            <div class="field-icon">
                                <i class="fa {{ field.icon }} fa-2x"></i>
                            </div>
                        </div>
                        <div class="field-actions">
                            <!-- number of actions -->
                            <p>{{ actions|get_item:field.name|length }} Vorhaben</p>
                            <div class="progress-indicator hovertext" data-hover="100% Status unbekannt">
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>

        </article>
    </main>

    {% include 'footer.html' %}
</body>

</html>